name: Cron Every 30 Minutes

on:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Call Vercel API Route
        run: curl -X GET "https://pitchtiktok.vercel.app/api/cron"
